<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packlink - Simply Shipping</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Your styles -->
    <link rel="stylesheet" href="styles/main.css">



  </head>
  <body ng-app="myApp">
    

    <div class="header-layout" >
      <header ng-controller="HeaderCtrl as vm" class="menu">
        <nav class="menu__nav">
          
          <img class="menu__logo" src="images/assets/packlink.png" alt=""/>

          <div class="menu__site-shipping">
            <div class="menu__packet-group">
              <div class="menu__packet-icon icon-box"></div>
              <span class="menu__packet-number"> x 2</span>
            </div>
            <div class="menu__labels-group">
              <span class="menu__label">Spain</span>
              <span class="menu__label--second">03340</span> 
            </div>
            <div class="menu__arrow-icon">&#x2192;</div>
            <div class="menu__labels-group">
              <span class="menu__label">United Kingdom</span>
              <span class="menu__label--second">48890</span> 
            </div>
          </div>

          <div class="menu__labels-group">
            <span class="menu__label"> {{ 'PleaseSelectServiceBelow' | translate }} </span>
            <span class="menu__label--second"> {{ 'getYourDiscountedPrice' | translate }} </span> 
          </div>

          <span class="menu__labels-language-group">
            <a class="menu__label-language" href="#" ng-click="vm.changeLang('enLang')">
              EN
            </a>
            |
            <a class="menu__label-language" href="#" ng-click="vm.changeLang('esLang')">  
              ES      
            </a>
          </span>

        </nav>
      </header>
    </div>

    <main class="main-layout" >

      <service-list></service-list>

    </main>

    <div class="footer-layout">
      <footer class="footer">
        <span class="footer__label">
          &#xa9; 2016 PackLink.es - todos los derechos reservados - Have a look at our <a class="footer__label-link" href="">terms and conditions</a>, our <a class="footer__label-link" href=""> privacy policy </a> and our <a class="footer__label-link" href="">cookies policy</a>.
        </span>
        <span class="footer__cards-group">        
          <span class="footer__label-cards"> {{ 'securePaymentGuaranteed' | translate }} </span>
          <div class="footer__cards">
            <span class="icon-credit-card-1 footer__card-icon-1"></span>
            <span class="icon-credit-card-2 footer__card-icon-2"></span>
            <span class="icon-credit-card-3 footer__card-icon-3"></span>
            <span class="icon-credit-card-1 footer__card-icon-1"></span>
            <span class="icon-credit-card-2 footer__card-icon-2"></span>
            <span class="icon-credit-card-3 footer__card-icon-3"></span>
          </div>
        </span>
      </footer>
    </div>

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/i18n/es.js"></script>
    <script src="scripts/i18n/en.js"></script>
    <script src="scripts/i18n/i18n.js"></script>
    <script src="scripts/i18n/translate.filter.js"></script>
    <script src="scripts/header/header.controller.js"></script>
    
    <script src="scripts/service-list/service-list.component.js"></script>
    <script src="scripts/service-list/service-list.service.js"></script>
    <script src="scripts/service-detail/service-detail.component.js"></script>    
    <!-- endbuild -->


    <!-- Built with love using Web Starter Kit -->

  </body>
</html>
